/* {
    border: 1px solid black;
}*/

body {
    padding-top: 5rem;
}

.container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

#profile-green {
    background-image: radial-gradient(circle, #77cc77, #557755);
    background-size: cover;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
}

#profile-green h1, #profile-green h5 {
    text-shadow: 2px 2px 5px black;
}

#profile-green img {
    box-shadow: 10px 10px 40px black;
}

#profile-green h1 {
    font-weight: bold;
}

.profile-photo {
    width: 20%;
    height: 20%;
    border-radius: 200px;
}

#profile-white {
    text-align: center;
}

#profile-bio {
    margin: auto 25%;
    text-align: left;
}

#profile-nums-text {
    column-gap: 5%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.num-then-text {
    width: 10%;
}

.profile-num {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: auto;
}

.profile-text {
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: auto;
}

#follow-btn {
    margin: 1% auto;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: chartreuse;
    color: white;
    padding: 5px 5%;
    text-shadow: 2px 2px 5px black;
    border: 3px solid #226622;
}